/**
    studyqrr12 디지털 정부서비스 UI/UX 가이드라인(KRDS) 공부용 CSS 작성
*/

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    margin: 7px;
}

/* 초기화 */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    border: 0;
    margin-block-start: 1rem;
    margin-block-end: 1rem;
    font-size: 1.17em;
    display: block;
}

.g-color-box {
    width: 150px;
    height: 20px;
    margin: 0;
    padding: 0;
    border: 0;
}

.g-width-150px {
    width: 150px;
}

/** 배경색 */
.bg-inherit {
    background-color: inherit;
}

.bg-current {
    background-color: currentColor;
}

.bg-transparent {
    background-color: transparent;
}

.bg-primary-0 {
    background-color: #FFFFFF;
}

.bg-primary-5 {
    background-color: #EFF5FF;
}

.bg-primary-10 {
    background-color: #D3E1FB;
}

.bg-primary-20 {
    background-color: #A7C4F7;
}

.bg-primary-30 {
    background-color: #7CA6F3;
}

.bg-primary-40 {
    background-color: #5089EF;
}

.bg-primary-50,
.bg-primary {
    background-color: #246BEB;
}

.bg-primary-60 {
    background-color: #1D56BC;
}


.bg-primary-70 {
    background-color: #16408D;
}

.bg-primary-80 {
    background-color: #0E2B5E;
}

.bg-primary-90 {
    background-color: #07152F;
}

.bg-primary-100 {
    background-color: #000000;
}

.text-primary-0 {
    color: #FFFFFF;
}

.text-primary-100 {
    color: #000000;
}